@charset "utf-8";
	
			
				
/*Lists
=======================================*/

ul			{ 
			list-style-type: none;
			}
						
ul#articles	li	{
				padding:5px 0;
				}

ul#artist_links{
				float:left;
				}
				
ul#artist_links{
				margin:0;
				}
								
ul#artist_links li	{ 	
					font-weight:bold; 
					font-size:1.1em;
					padding: 5px 0;																																											
					}	
												
ul#artist_links li	a	{ 															
						text-decoration: none; 
						color:black;
						}
								
ul#artist_links li	a:hover		{
								color:#7B52AB;	
								}
		
ul#buttons	{
			margin-top:0;
			position:absolute;
			font-weight: bold;
			font-size: 1em;
			text-decoration: none;
			color:#6436B5;
			padding:5px;
			}
			
ul#buttons	li	{
				display:inline;
				text-align: center;
				
				padding:5px;
				border-radius:10px;
				}
				
ul#buttons	li	a	{				
					text-decoration:none;
					}											

ul#buttons li a:link	{
						color:black;
						}  
 						
ul#buttons li a:visited	{
						color:black;
						}			   
   			   
ul#buttons li a:hover	{
						color:#7B52AB;				
						}				
																						
ul#navbar 	{
			font-weight:bold; 
			font-size: 1.5em;
			position:absolute;
			margin: 160px 100px auto;
			text-align: center;
			width:700px;
			}
			
ul#navbar li   {
				text-align:center;
			  	display: inline;
				}

ul#navbar li a {
   			   width: 5em;
   			   padding: 0.5em;
   			   text-decoration: none;
   			   }	

ul#navbar li a:link	{
					color:black;
					}  
 						
ul#navbar li a:visited	{
						color:black;
						}			   
   			   
ul#navbar li a:hover	{
						color:#7B52AB;	
						}
																
ul#sidebar	{
			font-size: 1.1em;
			}	
			
ul#sidebar li a	{
   			   text-decoration: none; 
				}
			
ul#view		{
			font-weight:bold;
			float:right;	
			margin-top: 215px;
			margin-right: 170px;
		   }
		   
ul#view li		{
				padding:5px 0;
				}	
				
ul#view li a	{
				text-decoration: none;
				}	
				
ul#view li a:link	{
					color:black;
					}  
 						
ul#view li a:visited	{
						color:black;
						}			   
   			   
ul#view li a:hover		{
						color:#7B52AB;	
						}
			
	
/*Images	
===========================================*/
	
			
#gallery_interior	{
					display:none;
					}		
					
						
#bw_logo		{
				position: absolute;
				border:none;
				top:40px;
				margin-left:700px;
				} 	
			
#colour_logo	{
				display:none;
				}					
			
#map		{
			margin-top: 40px;
			margin-left:350px;
			position:absolute;
			}				
														
#studios	{
			display:none;
			}		


/*Forms
============================================*/

/*Fieldset format adapted from the following book:
Adams, Bolton, Johnston, Smith and Snook, 2007. The art and science of CSS. Victoria:SitePoint Pty Ltd.*/
 
#contact_form	{
 				display:none;
 				}
 						
 			
fieldset 	{				
			float: left;
			clear: both;
			width: 100%;
			margin: 0 0 1.5em 0;
			padding: 0; 
			border: 1px solid #BFBAB0;
			background-color: #F2EFE9;	
			}
				
label		{
			display:block;
			margin: 0;
			}				
		
				
#mail_list	{
			display:none;
			}
			
				
		
/*Structure		
============================================*/							
							
body		{
			width: 960px;
			margin: 2% auto;
			font-family: Calibri, Helvetica, Verdana, san-serif;
			}			
				
#content	{
			position: absolute;
			margin: 200px 30px 0;
			}	
			
#far_right	{
			display:none;
			}
						
#group_show	{
			clear:both;
			width:300px;
			margin:300px auto;
			}			
										
#left_column		{
					position: absolute;
					margin-left:50px;
					margin-top: 15px;
					}					
			
#one_column_content	{
					float:left;
					text-align: justify;
					margin-top:15px;
					margin-left: 160px;
					width: 450px;					
					}
						
#right_column			{
						width: 500px;
						margin:25px 200px;
						text-align: justify;
						}
						
#studio_content			{
						float:left;
						width: 500px;
						margin-left: 280px;
						margin-bottom: 10px;
						text-align: justify;
						}
												
	


/*Footer
================================================*/
	
#footer		{
			
			margin-top:400px;
			padding: 5px 30px;
			text-align: center;
			width:900px;
			height: 40px;
			font-size: 0.9em;
			border-top: 2px solid #414349;
			}	
			
#address	{
			float:right;
			margin: 0 300px;
			}			
			
#copyright	{
			font-size: 0.8em;	
			}							
						
#social_media	{
				display:none;
				}	
				
					

	
/*Format
=========================================*/
			
#current	{
			border-radius:10px;
			padding:5px;
			background:#DDDEE3;
			}
			
#exhibition_title{
				font-weight: bold;
				font-size:1.2em;	
				}			
			
#far_right	{
			display:none;	
			}	

#heading	{
			font-size: 1.5em;
			text-align:left;
			font-weight: bold;
			}

.link		{
			font-weight:bold; 
			color:black;
			}
			
.link a		{
			text-decoration: none; 
			}	
			
.link a:link	{
				color:black;
				}					
			
.link a:visited	{
				color:black;	
				}

.link a:hover	{
				color:#7B52AB;	
				}

p			{
			clear:both;
			text-align:justify;
			}
			
#side_heading	{
				margin:0 0 15px 40px;
				font-weight:bold;
				font-size: 1.2em;
				}						